ETSI X.509 Access Certificates Data Set Alignments

We need to align the current X.509 Access Certificate documented in the trust section of this documentation according to the last update got from ARF 1.10 and IAs

ARF HLR RPACANot_05

The format of an Access Certificate Authority Trusted List SHALL comply with ETSI TS 119 612 v2.1.1 or with a suitable profile similarly derived from ETSI TS 102 231

# ETSI EN 319 412-6 V0.0.1 (2025-04) Requirements Checklist

## 1. Generic Requirements

- [ ] **GEN-4.1-1:** All certificate fields and extensions shall comply with IETF RFC 5280 with the amendments specified in the present document.
- [ ] **GEN-4.1-2:** Certificate extensions shall not be marked critical unless criticality is explicitly allowed or required in the present document or in IETF RFC 5280.

### 4.2 Basic Certificate Fields

- [ ] **GEN-4.2.1-1:** The version shall be V3 (defined by the integer value 2).
- [ ] **GEN-4.2.2-1:** The serialNumber shall be a non-sequential number greater than zero (0) and less than 2¹⁵⁹ containing at least 64 bits of output from a CSPRNG.
- [ ] **GEN-4.2.3-1:** Signature algorithm should be selected according to ETSI TS 119 312.
- [ ] **GEN-4.2.4-1:** The subject public key should be selected according to ETSI TS 119 312.

## 2. PID Provider Certificates Requirements

### 5.1 Root CA Certificate

#### 5.1.1 Issuer

##### 5.1.1.1 Legal Person Providers

- [ ] **PID-5.1.1.1-1:** If the issuer is a legal person, the following requirements shall apply:
- [ ] **PID-5.1.1.1-2:** The identity of the issuer shall contain at least: countryName, organizationName, and commonName.
- [ ] **PID-5.1.1.1-3:** If an appropriate registration number exists, organizationIdentifier shall be present and different from organizationName.
- [ ] **PID-5.1.1.1-4:** Certificates may include a legal person semantic identifier as per ETSI EN 319 412-1, 5.1.4.
- [ ] **PID-5.1.1.1-5:** Each attribute shall be limited to a single instance. Additional attributes may be present.
- [ ] **PID-5.1.1.1-6:** The countryName attribute shall specify the country in which the issuer is established.
- [ ] **PID-5.1.1.1-7:** The organizationName attribute shall contain the full registered name of the certificate issuing organization.
- [ ] **PID-5.1.1.1-8:** The organizationIdentifier attribute shall contain an identification of the certificate issuing organization different from the organization name.
- [ ] **PID-5.1.1.1-9:** The commonName attribute value shall contain a name commonly used by the provider to represent itself.

##### 5.1.1.2 Natural Person Providers

- [ ] **PID-5.1.1.2-1:** If the issuer is a natural person, the following requirements shall apply:
- [ ] **PID-5.1.1.2-2:** The identity of the issuer shall contain at least: countryName; choice of (givenName and/or surname) or pseudonym; serialNumber; and commonName.
- [ ] **PID-5.1.1.2-3:** Each attribute shall be limited to a single instance. Additional attributes may be present.
- [ ] **PID-5.1.1.2-4:** The countryName attribute shall specify a country consistent with the legal jurisdiction under which certificates are issued.
- [ ] **PID-5.1.1.2-5:** If the given name of the issuer is known, then the givenName attribute shall be present.
- [ ] **PID-5.1.1.2-6:** If the surname of the issuer is known, then the surname attribute shall be present.

#### 5.1.2 Subject

- [ ] **PID-5.1.2-1:** Encoded value shall be byte-for-byte identical to the encoded issuer.

#### 5.1.3 Validity

- [ ] **PID-5.1.3-1:** Validity of the provider certificates shall be between 8 and 25 years.

#### 5.1.4 Signature

- [ ] **PID-5.1.4-1:** The Signature field shall contain the signature of the Root CA.

#### 5.1.5 Extensions

- [ ] **PID-5.1.5.1-1:** BasicConstraints extension shall be set critical.
- [ ] **PID-5.1.5.1-2:** BasicConstraints extension shall be present, and cA shall be set TRUE.
- [ ] **PID-5.1.5.2-1:** KeyUsage extension shall be set critical.
- [ ] **PID-5.1.5.2-2:** KeyUsage extension shall be present, and cRLSign and keyCertSign shall be set.
- [ ] **PID-5.1.5.3-1:** Subject Key Identifier extension shall not be set as critical.
- [ ] **PID-5.1.5.3-2:** Subject Key Identifier extension shall be present, and set as defined within RFC 5280, Section 4.2.1.2.
- [ ] **PID-5.1.5.4-1:** AuthorityKeyIdentifier extension shall not be set as critical.
- [ ] **PID-5.1.5.4-2:** AuthorityKeyIdentifier extension shall be present, and shall be identical to the subjectKeyIdentifier field.
- [ ] **PID-5.1.5.5-1:** ExtendedKeyUsage extension shall not be present.
- [ ] **PID-5.1.5.6-1:** CertificatePolicies extension shall not be present.

---

### 5.2 Intermediate CA Certificate

- [ ] **PID-5.2.1-1:** Issuer encoded value shall be byte-for-byte identical to the Subject of the Root CA.
- [ ] **PID-5.1.2-1:** The requirements of Section 5.1.1 apply to Subject.
- [ ] **PID-5.1.2-2:** The commonName also shall be descriptive for the function.
- [ ] **PID-5.2.3-1:** The requirements of Section 5.1.3 apply to Validity.
- [ ] **PID-5.2.3-2:** The maximum NotAfter value of validity shall be the same or less than in the Root CA certificate.
- [ ] **PID-5.2.4-1:** The Signature field shall contain the signature of the Root CA.
- [ ] **PID-5.2.5.1-1:** The requirements of Section 5.1.5.1 apply to BasicConstraints.
- [ ] **PID-5.2.5.2-1:** The requirements of Section 5.1.5.2 apply to KeyUsage.
- [ ] **PID-5.2.5.3-1:** The requirements of Section 5.1.5.3 apply to Subject Key Identifier.
- [ ] **PID-5.1.5.4-1:** AuthorityKeyIdentifier extension shall not be set as critical.
- [ ] **PID-5.1.5.4-2:** AuthorityKeyIdentifier extension shall be present, and shall be identical to the subjectKeyIdentifier field of the Root CA.
- [ ] **PID-5.2.5.5-1:** The requirements of Section 5.1.5.5 apply to ExtendedKeyUsage.
- [ ] **PID-5.2.5.6-1:** CertificatePolicies extension shall be present.
- [ ] **PID-5.2.5.6-1:** CertificatePolicies extension should not be marked critical.
- [ ] **PID-5.2.5.6-2:** CertificatePolicies extension shall contain the identifier of at least one certificate policy reflecting the practices and procedures of the issuing CA.
- [ ] **PID-5.2.5.7-1:** If CRL is supported by the root CA, the CRL distribution point extension shall be present.
- [ ] **PID-5.2.5.7-2:** If the certificate does not include any access location of an OCSP responder, then the certificate shall include a CRL distribution point extension.
- [ ] **PID-5.2.5.7-3:** When present, the CRL distribution point extension shall include at least one reference to a publicly available CRL.
- [ ] **PID-5.2.5.7-4:** At least one reference shall use either http (http://) or ldap (ldap://) scheme.
- [ ] **PID-5.2.5.7-5:** The extension shall not be marked critical.
- [ ] **PID-5.2.5.8-1:** Authority Information Access extension shall be present.
- [ ] **PID-5.2.5.8-2:** Authority Information Access extension shall include an accessMethod OID, id‑ad‑caIssuers, with an accessLocation value specifying at least one access location of a valid CA certificate of root CA.
- [ ] **PID-5.2.5.8-3:** At least one accessLocation shall use the http (http://) or https (https://) scheme.
- [ ] **PID-5.2.5.8-4:** If OCSP is supported by the root CA, Authority Information Access extension shall include an accessMethod OID, id-ad-ocsp, with an accessLocation value specifying at least one access location of an OCSP responder.
- [ ] **PID-5.2.5.8-5:** If OCSP is supported by the root CA, at least one access location shall specify either the http (http://) or https (https://) scheme.
- [ ] **PID-5.2.5.8-6:** If OCSP is supported by the root CA, the access location shall reference a publicly available OCSP responder, which accepts unsigned and unauthenticated status requests.
- [ ] **PID-5.2.5.8-7:** If OCSP is supported by the root CA, the OCSP responder's certificate shall be as defined in Section 9.
- [ ] **PID-5.1.5.8-8:** If the certificate does not include any CRL distribution point extension, a reference to at least one OCSP responder shall be present.
---

### 5.3 PID Issuer Sign/Seal Certificate

#### 5.3.1 Issuer

- [ ] **PID-5.3.1-1:** Encoded value shall be byte-for-byte identical to the Subject of the intermediate CA.

#### 5.3.2 Subject

- [ ] **PID-5.3.2-1:** The requirements of Section 5.1.1 apply.
- [ ] **PID-5.3.2-2:** The commonName also shall be descriptive for the function (e.g., the friendly name of the Provider in conjunction with the string “PID Provider”).

#### 5.3.3 Validity

- [ ] **PID-5.3.3-1:** The requirements of Section 5.1.3 apply.
- [ ] **PID-5.3.3-2:** The maximum NotAfter value of validity shall be the same or less than in the intermediate CA certificate.

#### 5.3.4 Extensions

- [ ] **PID-5.3.4.1-1:** BasicConstraints extension shall not be present.
- [ ] **PID-5.3.4.2-1:** KeyUsage extension shall be set critical.
- [ ] **PID-5.3.4.2-2:** KeyUsage extension shall be present, and Non-repudiation shall be set.
- [ ] **PID-5.3.4.3-1:** The requirements of Section 5.1.5.3 apply to Subject Key Identifier.
- [ ] **PID-5.3.4.4-1:** AuthorityKeyIdentifier extension shall not be set as critical.
- [ ] **PID-5.3.4.4-2:** AuthorityKeyIdentifier extension shall be present, and shall be identical to the subjectKeyIdentifier field of the intermediate CA.
- [ ] **PID-5.3.4.5-1:** The requirements of Section 5.1.5.5 apply to ExtendedKeyUsage.
- [ ] **PID-5.3.4.6-1:** CertificatePolicies extension should not be marked critical.
- [ ] **PID-5.3.4.6-2:** CertificatePolicies extension shall be present and shall contain the identifier of at least one certificate policy reflecting the practices and procedures of the issuing CA.
- [ ] **PID-5.3.4.7-1:** If CRL is supported by the intermediate CA, the CRL distribution point extension shall be present.
- [ ] **PID-5.3.4.7-2:** If the certificate does not include any access location of an OCSP responder, then the certificate shall include a CRL distribution point extension.
- [ ] **PID-5.3.4.7-3:** When present, the CRL distribution point extension shall include at least one reference to a publicly available CRL.
- [ ] **PID-5.3.4.7-4:** At least one reference shall use either http (http://) or ldap (ldap://) scheme.
- [ ] **PID-5.3.4.7-5:** The extension shall not be marked critical.
- [ ] **PID-5.3.4.8-1:** Authority Information Access extension shall be present.
- [ ] **PID-5.3.4.8-2:** Authority Information Access extension shall include an accessMethod OID, id‑ad‑caIssuers, with an accessLocation value specifying at least one access location of a valid CA certificate of root CA.
- [ ] **PID-5.3.4.8-3:** At least one accessLocation shall use the http (http://) or https (https://) scheme.
- [ ] **PID-5.3.4.8-4:** If OCSP is supported by the intermediate CA, Authority Information Access extension shall include an accessMethod OID, id-ad-ocsp, with an accessLocation value specifying at least one access location of an OCSP responder.
- [ ] **PID-5.3.4.8-5:** If OCSP is supported by the intermediate CA, at least one access location shall specify either the http (http://) or https (https://) scheme.
- [ ] **PID-5.3.4.8-6:** If OCSP is supported by the intermediate CA, the access location shall reference a publicly available OCSP responder, which accepts unsigned and unauthenticated status requests.
- [ ] **PID-5.3.4.8-7:** If the certificate does not include any CRL distribution point extension, a reference to at least one OCSP responder shall be present.

#### 5.3.5 National or EU Law Data

- [ ] **PID-5.3.5-1:** The certificate shall contain the QcPSB qcStatement, as defined in Annex A.

#### 5.3.6 PID Provider Sign/Seal Indicator

- [ ] **PID-5.3.6-1:** The certificate shall contain the QcType qcStatement, and the values shall be set to id-etsi-qct-pid as defined in ETSI EN 319 412-5 and extended in Annex A.
- [ ] **PID-5.3.6-2:** The qcStatements extension shall be as specified in ETSI EN 319 412-5.
- [ ] **PDI-5.3.6-3:** The qcStatements extension shall not be marked as critical.

#### 5.3.7 Other Requirements

- [ ] **WAL-5.3.7-1:** If OCSP is used for revocation of an Attribute Attestation, then the Provider shall issue an OCSP Responder certificate, where the issuer is the attribute signer certificate.
- [ ] **WAL-5.3.7-2:** If CRL is used for revocation of an Attribute Attestation, then the Provider shall publish CRL, where the signer of the CRL is the attribute signer certificate.

## 6. Wallet Provider Certificates Requirements

### 6.1 Root CA Certificate

- [ ] **WAL-6.1-1:** The requirements of Section 5.1 apply.

### 6.2 Intermediate CA Certificate

- [ ] **WAL-6.2-1:** The requirements of Section 5.2 apply.

### 6.3 Wallet Issuer Sign/Seal Certificate

- [ ] **WAL-6.3-1:** The requirements of Sections 5.3.1 to 5.3.4 apply.

#### 6.3.1 National or EU Law Data

- [ ] **WAL-6.3.1-1:** The certificate shall contain the QcPSB qcStatement, as defined in Annex A.

#### 6.3.2 Wallet Provider Sign/Seal Indicator

- [ ] **WAL-6.3.2-1:** The certificate shall contain the QcType qcStatement, and the values shall be set to id-etsi-qct-wal as defined in ETSI EN 319 412-5 and extended in Annex A.
- [ ] **WAL-6.3.2-2:** The qcStatements extension shall be as specified in ETSI EN 319 412-5.
- [ ] **WAL-6.3.2-3:** The qcStatements extension shall not be marked as critical.

#### 6.3.3 Other Requirements

- [ ] **WAL-6.3.3-1:** The requirements of Section 5.3.7 apply.

## 7. QEAA Provider Certificates Requirements

### 7.1 Root CA Certificate

- [ ] **QEA-7.1-1:** The requirements of Section 5.1 apply.

### 7.2 Intermediate CA Certificate

- [ ] **QEA-7.2-1:** The requirements of Section 5.2 apply.

### 7.3 Attribute Issuer Qualified Sign/Seal Certificate

- [ ] **QEA-7.3-1:** If the Provider is a natural person, ETSI EN 319 412-2 applies.
- [ ] **QEA-7.3-2:** If the Provider is a legal person, ETSI EN 319 412-3 applies.

#### 7.3.1 Other Requirements

- [ ] **QEA-7.3.1-1:** The requirements of Section 5.3.7 apply.

## 8. Public Sector Body EAA (PSBEAA) Provider Certificates Requirements

### 8.1 Root CA Certificate

- [ ] **PSB-8.1-1:** The requirements of Section 5.1 apply.

### 8.2 Intermediate CA Certificate

- [ ] **PSB-8.2-1:** The requirements of Section 5.2 apply.

### 8.3 Attribute Issuer Qualified Sign/Seal Certificate

- [ ] **PSB-8.3-1:** If the Provider is a natural person, ETSI EN 319 412-2 applies.
- [ ] **PSB-8.3-2:** If the Provider is a legal person, ETSI EN 319 412-3 applies.

#### 8.3.1 National or EU Law Data

- [ ] **PSB-8.3.1-1:** The certificate shall contain the QcPSB qcStatement, as defined in Annex A.

#### 8.3.3 Other Requirements

- [ ] **PSB-8.3.3-1:** The requirements of Section 5.3.7 apply.

## 9. OCSP Responder Certificates Requirements

### 9.1 Common Requirements

#### 9.1.1 Issuer

- [ ] **PID-9.1.1-1:** Encoded value shall be byte-for-byte identical to the Subject of the issuer of the OCSP responder.

#### 9.1.2 Subject

- [ ] **PID-9.1.2-1:** The requirements of Section 5.1.1 apply.
- [ ] **PID-9.1.2-2:** The commonName also shall be descriptive for the function (e.g., the Issuer common in conjunction with the string “OCSP Responder”).

#### 9.1.3 Validity

- [ ] **PID-9.1.3-1:** The maximum validity of an OCSP responder is one year.
- [ ] **PID-9.1.3-2:** The maximum NotAfter value of validity shall be the same or less than in the intermediate CA certificate.

#### 9.1.4 Extensions

- [ ] **PID-9.1.4.1-1:** BasicConstraints extension shall not be present.
- [ ] **PID-9.1.4.2-1:** KeyUsage extension shall be set critical.
- [ ] **PID-9.1.4.2-2:** KeyUsage extension shall be present, and digitalSignature shall be set.
- [ ] **PID-9.1.4.3-1:** The requirements of Section 5.1.5.3 apply to Subject Key Identifier.
- [ ] **PID-9.1.4.4-1:** AuthorityKeyIdentifier extension shall not be set as critical.
- [ ] **PID-9.1.4.4-2:** AuthorityKeyIdentifier extension shall be present, and shall be identical to the subjectKeyIdentifier field of the issuer of the OCSP responder.
- [ ] **PID-9.1.4.5-1:** ExtendedKeyUsage extension shall be present, and its value shall be id-kp-OCSPSigning.
- [ ] **PID-9.1.4.6-1:** CertificatePolicies extension shall not be present.
- [ ] **PID-9.1.4.7-1:** CRL distribution points extension shall not be present.
- [ ] **PID-9.1.4.8-1:** Authority Information Access extension may be present.
- [ ] **PID-9.1.4.8-2:** If Authority Information Access extension is present, it shall include an accessMethod OID, id‑ad‑caIssuers, with an accessLocation value specifying at least one access location of a valid CA certificate of root CA.
- [ ] **PID-9.1.4.8-3:** If Authority Information Access extension is present, at least one accessLocation shall use the http (http://) or https (https://) scheme.
- [ ] **PID-9.1.4.4-1:** OCSP Nocheck extension shall not be set as critical.
- [ ] **PID-9.1.4.4-2:** OCSP Nocheck extension shall be present.



According to REQ-IA-2024-2982-25 ()

Wallet providers shall ensure that wallet units request issuance of person identification data and electronic attestations of attributes only from parties having an authentic and valid wallet-relying party access certificate attesting them as

(a) provider of person identification data
(b) provider of a qualified electronic attestation
(c) provider of an electronic attestation from or on behalf of a public sector body
(d) provider of non-qualified electronic attestations.

to be continued here: https://github.com/italia/eid-wallet-it-docs/issues/790