jkt parameter in the DPoP AT

According to RFC9449 [Section 6.1](https://datatracker.ietf.org/doc/html/rfc9449.html#name-jwk-thumbprint-confirmation) the [jkt parameter](https://italia.github.io/eudi-wallet-it-docs/versione-corrente/en/pid-eaa-issuance.html#access-token) must be in the `cnf` field

