[HAIP] Is signed PAR in the issuance flow really required?

Since there might be interop issues between it-wallet compliant credential issuers and wallet solutions, I would like to make our attention to the risks of mandating signed PAR, considering the requirements set within the standards and the eudiw framework.

this argument was raised during the integrations tasks with wallet solution that are not tailored on top of the it-wallet profile, see: https://github.com/italia/eudi-wallet-it-python/pull/485#issuecomment-3141618979

OpenID HAIP mandates the PAR authentication, see https://openid.github.io/OpenID4VC-HAIP/openid4vc-high-assurance-interoperability-profile-wg-draft.html#name-authorization-endpoint

````
Wallets MUST authenticate themselves at the PAR endpoint using the same rules as defined in [Section 4.4](https://openid.github.io/OpenID4VC-HAIP/openid4vc-high-assurance-interoperability-profile-wg-draft.html#token-endpoint) for client authentication at the token endpoint.
````


OpenID HAIP is mandatory for Credential Issuer and Wallet Solutions, according to the current version of ARF (2.6 todate)

see: 

https://github.com/eu-digital-identity-wallet/eudi-doc-architecture-and-reference-framework/blob/66999191597b84769e49e4455919f55471e66a04/docs/annexes/annex-2/annex-2-high-level-requirements.md?plain=1#L396C13-L396C130

today we have decided to mantain the signed request object at the authorization endpoint.

wallet solution must evaluate AS metadata to establish the configuration of their requests to the AS/VCI endpoints.

We will mantain the current approach until evident interop issues might happen about this aspect.

JAR is OPTIONAL in PAR specification (see [RFC9126 Section 3](https://datatracker.ietf.org/doc/html/rfc9126#section-3)), and it is not even mentioned in OID4VCI and HAIP specs. However, we decided to make a signed PAR (JAR) mandatory for IT-Wallet for security reasons. If we don't require it, we see potential attacks (e.g., insider alterations/manipulations) on redirects and credential types. Moreover, non-repudiation is no longer guaranteed. In case of disputes, you cannot provide evidence on requests made by the Wallet Instance.   
It is worth noting that this approach is consistent with the choices made in HAIP regarding the Credential Presentation (see [HAIP Section 5.1](https://openid.github.io/OpenID4VC-HAIP/openid4vc-high-assurance-interoperability-profile-wg-draft.html#section-5.1)). In HAIP, for OID4VP, response encryption (direct\_post.jwt) is required. This guarantees end-to-end confidentiality of the presentation response, protecting sensitive data beyond the transport layer.   
In a similar way, requiring signed PAR (JAR) for OID4VCI guarantees end-to-end integrity of the authorization request and the parameters it contains. Both mechanisms provide protection "by design" that goes beyond the protocol exchange itself, ensuring that confidentiality and integrity are maintained even when data is processed or stored in internal systems.

The Auth Server can decide to make JAR REQUIRED by using the parameter require\_signed\_request\_object ([section 9.2 of RFC 9101](https://www.rfc-editor.org/rfc/rfc9101.html#section-9.2)) in its metadata. It is a choice of the Auth Server; some Auth Servers will require signed requests, others won't.  
This implies that Wallet Instances (the client) must always support JAR, as they MUST support PAR.

Additional security consideration: as pointed out in [RFC 9101 Section 10.5](https://www.rfc-editor.org/rfc/rfc9101.html#section-10.5), if an Auth Server wants to have a JAR, it needs to make the parameter mandatory; otherwise, it cannot detect downgrade attacks because it does not know if it should accept or not a non-signed request. It cannot evaluate a priori the conditions based on whether to accept a signed or an unsigned request.

Interoperability consideration: How can a Wallet Instance know whether to send a signed PAR or not? The Wallet Instance has two possible strategies to manage this:

1. Check the require\_signed\_request\_object parameter in the Auth Server metadata to determine whether it requires a JAR.  
2. Always duplicate the parameters both in the request body and in the signed request object. This is simpler and guarantees compatibility with all Auth Servers (those that require JAR and those that don't). [RFC 9101 Section 10.7](https://www.rfc-editor.org/rfc/rfc9101.html#section-10.7) provides the security requirements on how to manage this duplication properly.

In conclusion:

* Auth Servers MUST use the require\_signed\_request\_object parameter in the Metadata (currently missing in the IT-Wallet Specification; we should clarify this in an issue) to require the use of signed PAR (JAR) for security and integrity reasons.  
* For interoperability with cross-border CI that might not implement JAR, the WI can use the two strategies described above. In any case, it must support both unsigned and signed PAR (JAR).

@fmarino-ipzs may I ask you to create a PR including the conclutions, as shared in your comment, in the form of note or implementation considerations about interoperability, in the relevant sections of the issuance flow?